name: Build & Test

on: [push, pull_request]

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      MRUBY_CONFIG: ci/gcc-clang
      TERM: xterm
      CC: gcc
    steps:
      - uses: actions/checkout@v5.0.0
      - name: install packages
        run: sudo apt-get install libgtk-3-dev xvfb
      - name: Ruby version
        run: ruby -v
      - name: Compiler version
        run: ${{ env.CC }} --version
      - name: Build
        run: ./build.sh
      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: mrbmacs-gtk
          path: mruby/bin/mrbmacs-gtk
      - name: Test
        run: xvfb-run ./build.sh test

  macOS:
    runs-on: macos-latest
    timeout-minutes: 20
    env:
      MRUBY_CONFIG: ci/gcc-clang
      CC: clang
    steps:
      - uses: actions/checkout@v5.0.0
      - name: install gtk
        run: |
          brew update
          brew install gtk+3 gtk-mac-integration
      - name: Ruby version
        run: ruby -v
      - name: Compiler version
        run: ${{ env.CC }} --version
      - name: Build
        run: ./build.sh
      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: mrbmacs-gtk
          path: mruby/bin/mrbmacs-gtk
      - name: Setup faketty
        uses: Yuri6037/Action-FakeTTY@v1.1
      - name: Test
        run: faketty ./build.sh test

  Windows-mingw:
    runs-on: windows-latest
    timeout-minutes: 10
    env:
        MRUBY_CONFIG: ci/gcc-clang
        CC: gcc
    steps:
      - uses: actions/checkout@v5.0.0
      - name: mingw setup
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ruby
            mingw-w64-x86_64-libiconv
            mingw-w64-x86_64-libtool
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-gtk3
            mingw-w64-x86_64-glib2
            git
            make
            patch
            libtool
      - name: Ruby version
        run: ruby -v
      - name: Compiler version
        run: ${{ env.CC }} --version
      - name: Build and test
        run: ./build.sh
